html
	link(rel="stylesheet", href="../../../materialize-css/bin/materialize.css")
	link(rel="stylesheet", href="../../../stylesheets/style.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	script(type="text/javascript" src="../../../../../vendor/booklet-1.0.0.js")
	script(src="../../../javascripts/app.js")
	script(src="../../../javascripts/views/index.js")
	meta(charset="UTF-8")
body
		nav
			div
				.nav-wrapper
					a.brand-logo.center(href="/") Blogfoni
					ul#nav-mobile.right.hide-on-med-and-down
						if !username
							li
								a.modal-trigger(href="#registerModal") Register
							li
									a.modal-trigger(href="#loginmodal") Login
						else 
							li
									a(href="#") Hello, #{username}
		div.row
			block leftContent
			block rightContent
include footer_2