footer.page-footer
	div.footer-copyright
		div.center © markafoni NGDevs   
script(src="../../../jquery/dist/jquery.js")
script(src="../../../materialize-css/bin/materialize.js")
script(src="../../../javascripts/clientSide.js")
script(src="../../../javascripts/modal.js")
script(src="../../../javascripts/views/nav.js")