<!DOCTYPE html>
<html lang="en">

  <head>
       <% include ../views/head %>

  </head>

  <body>
        <% include ../views/body %>


    <!--footer-->
        <% include ../views/footer %>

  </body>

</html>
