<% layout( 'boilerplate') -%>
  <div class="container">
    <div class="row">
      <!--form tarafı-->
      <div class="col s5">
        <h5>Blogfoni</h5>
        <form method="POST" action="/">
          <div class="input-field col s12">
            <i class="material-icons prefix">info_outline</i>
            <input name="topic" id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Topic</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">label_outline</i>
            <textarea name="entry" id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Entry</label>
          </div>
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action" formaction="#">Submit
              <br>
          </div>
          </button>
        </form>
      </div>
      <!--list tarafı-->
      <div class="col s7">
        <h5>Posts</h5>
        <ul class="collection">
          <%- partial( 'entries', posts) %>
        </ul>
      </div>
    </div>
  </div>