<div class="col s6">
  <h1>Entries</h1>
  <ul class="collection">
    <% for(var i=0; i<posts.length; i++) { %>
      <li class="collection-item avatar">
        <i class="material-icons circle red">comment</i>
        <span class="title">
          <b>
            <%=posts[i].topic %>
          </b>
        </span>
        <p>
          <%=posts[i].entry %>
        </p>
        <a href="/users/<%=posts[i]._id %>" class="secondary-content"><i class="material-icons">open_in_new</i></a>
      </li>
      <% } %>
  </ul>
</div>