<!DOCTYPE html>
<html lang="en">
  
  <head>
       <% include ../views/head %>

  </head>
  
  <body>
        <% include ../views/rightside %>


    <!--footer-->
        <% include ../views/footer %>

  </body>

</html>